# Data preparation

In [40]:
import pandas as pd

In [41]:
c= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/ITSAAvgPrice.csv")
b = pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/UsageIndicator.csv")

merged = pd.merge(c,b,on='AccountNumber')
merged.to_csv("output.csv", index=False)

In [42]:
print(merged.count())

AccountNumber                      3203
FulfillerPriceCategoryIndicator    3203
UsageRiskIndicator_SUM             3203
dtype: int64

In [43]:
a = pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AllCustomerChurnIndicator.csv",encoding="ISO-8859-1")
merged2=a.merge(b.merge(c,on='AccountNumber',how='inner'),on='AccountNumber',how='inner')

In [44]:
merged2.head()

,AccountNumber,AccountName,CompleteCustomerChurn,UsageRiskIndicator_SUM,FulfillerPriceCategoryIndicator
0,ACCT0000006,OUHSC IT,0,1,1.0
1,ACCT0000011,Allstate Corporation,0,0,1.0
2,ACCT0000026,Clark County Nevada,0,0,2.0
3,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,0,1.0
4,ACCT0000034,Edmunds.com Inc,0,0,1.0

### left join

In [45]:
c = pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AllCustomerChurnIndicator.csv",encoding="ISO-8859-1")
merged2=a.merge(b.merge(c,on='AccountNumber',how='left'),on='AccountNumber',how='left')
merged2.head()

,AccountNumber,AccountName_x,CompleteCustomerChurn_x,UsageRiskIndicator_SUM,AccountName_y,CompleteCustomerChurn_y
0,ACCT0000005,"WagerWorks, Inc.",1,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,1.0,OUHSC IT,0.0
2,ACCT0000011,Allstate Corporation,0,0.0,Allstate Corporation,0.0
3,ACCT0000026,Clark County Nevada,0,0.0,Clark County Nevada,0.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,0.0,"AAA Northern California, Nevada & Utah Insuran...",0.0

In [46]:
c = pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AllCustomerChurnIndicator.csv",encoding="ISO-8859-1")
merged3=a.merge(b.merge(c,on='AccountNumber',how='left'),on='AccountNumber',how='left')
merged3

,AccountNumber,AccountName_x,CompleteCustomerChurn_x,UsageRiskIndicator_SUM,AccountName_y,CompleteCustomerChurn_y
0,ACCT0000005,"WagerWorks, Inc.",1,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,1.0,OUHSC IT,0.0
2,ACCT0000011,Allstate Corporation,0,0.0,Allstate Corporation,0.0
3,ACCT0000026,Clark County Nevada,0,0.0,Clark County Nevada,0.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,0.0,"AAA Northern California, Nevada & Utah Insuran...",0.0
...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,NaN,NaN,NaN

In [48]:
d=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AccountMetrics.csv",encoding="ISO-8859-1")
e=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/CommunityMetrics.csv")
f=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/EngagementSurveyMetrics.csv")
g=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/KnowledgeEventMetrics.csv")
h=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/LicensedAdoptionMetrics.csv",encoding="ISO-8859-1")
i=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/NPSMetrics.csv",encoding="ISO-8859-1")
j=i=pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/SupportSurveyMetrics.csv",encoding="ISO-8859-1")

In [49]:
FinalMerge1=a.merge(b.merge(c.merge(d.merge(e.merge(f.merge(g.merge(h.merge(i.merge(j,on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left'),on='AccountNumber',how='left')

In [50]:
FinalMerge1

,AccountNumber,AccountName,CompleteCustomerChurn_x,UsageRiskIndicator_SUM,AccountName_x,CompleteCustomerChurn_y,AcctName_x,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,...,KnowledgeEventAttendeeCount,AcctName_y,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x,OverallSupportSurveySatisfactionIndicator_SUM_x,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM_y
0,ACCT0000005,"WagerWorks, Inc.",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,1.0,OUHSC IT,0.0,OUHSC/IT,4,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACCT0000011,Allstate Corporation,0,0.0,Allstate Corporation,0.0,Allstate Corporation,3,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACCT0000026,Clark County Nevada,0,0.0,Clark County Nevada,0.0,Clark County Nevada,4,2.0,2.0,...,7.0,Clark County Nevada,44.444,80,4.0,2.0,Clark County Nevada,8.0,Clark County Nevada,8.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,0.0,"AAA Northern California, Nevada & Utah Insuran...",0.0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df=pd.DataFrame(FinalMerge1)
df.to_csv(r'C:/Users/Dell/Desktop/Datasets/Project/Merged/FinalMerge_metro.csv')

In [ ]:
df.drop('AcctName',axis=1)

In [ ]:
FinalMerge = FinalMerge.drop(["AccountName_y","AcctName"],axis=1)

In [ ]:
FinalMerge.head()

In [ ]:
FinalMerge

### final merge with inner

In [36]:
FinalMerged=a.merge(b.merge(c.merge(d.merge(e.merge(f.merge(g.merge(h.merge(i.merge(j,on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner'),on='AccountNumber',how='inner')

In [37]:
FinalMerged

,AccountNumber,AccountName_x,CompleteCustomerChurn_x,UsageRiskIndicator_SUM,AccountName_y,CompleteCustomerChurn_y,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,...,KnowledgeEventAttendeeCount,AccountName_y,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x,OverallSupportSurveySatisfactionIndicator_SUM_x,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM_y
0,ACCT0000026,Clark County Nevada,0,0,Clark County Nevada,0,Clark County Nevada,4,2,2,...,7,Clark County Nevada,TotalAdoptionPercent,80,4,2,Clark County Nevada,8,Clark County Nevada,8
1,ACCT0000045,"Harley-Davidson, Inc.",0,0,"Harley-Davidson, Inc.",0,"Harley-Davidson, Inc.",2,2,1,...,13,"Harley-Davidson, Inc.",TotalAdoptionPercent,122.222,5,3,"Harley-Davidson, Inc.",6,"Harley-Davidson, Inc.",6
2,ACCT0000058,Latham Watkins LP,0,0,Latham Watkins LP,0,Latham & Watkins LP,4,2,4,...,2,Latham & Watkins LP,TotalAdoptionPercent,68.75,4,3,Latham & Watkins LP,6,Latham & Watkins LP,6
3,ACCT0000114,Toyota Motor Sales USA Inc,0,0,Toyota Motor Sales USA Inc,0,Toyota Motor Sales USA Inc,2,2,1,...,7,Toyota Motor Sales USA Inc,TotalAdoptionPercent,117.647,5,3,Toyota Motor Sales USA Inc,7,Toyota Motor Sales USA Inc,7
4,ACCT0000163,Aetna Life Insurance Co,0,1,Aetna Life Insurance Co,0,Aetna Life Insurance Co,2,2,1,...,10,Aetna Life Insurance Co,TotalAdoptionPercent,93.75,5,3,Aetna Life Insurance Co,9,Aetna Life Insurance Co,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,ACCT0037153,Bechtel Corporation-Reston,0,0,Bechtel Corporation-Reston,0,Bechtel Corporation-Reston,2,2,1,...,1,Bechtel Corporation-Reston,TotalAdoptionPercent,75,4,3,Bechtel Corporation-Reston,7,Bechtel Corporation-Reston,7
252,ACCT0038757,AudioNova International BV,0,1,AudioNova International BV,0,AudioNova International BV,2,2,2,...,1,AudioNova International BV,TotalAdoptionPercent,61.538,3,2,AudioNova International BV,15,AudioNova International BV,15
253,ACCT0038859,Ikusi Micronet SA De CV,0,0,Ikusi Micronet SA De CV,0,Ikusi Micronet SA De CV,2,2,2,...,2,Ikusi Micronet SA De CV,TotalAdoptionPercent,66.666,2,1,Ikusi Micronet SA De CV,7,Ikusi Micronet SA De CV,7
254,ACCT0039597,Corgan Associates Inc,0,0,Corgan Associates Inc,0,Corgan Associates Inc,2,2,2,...,1,Corgan Associates Inc,TotalAdoptionPercent,80,4,2,Corgan Associates Inc,6,Corgan Associates Inc,6
255,ACCT0064534,PayPal Inc,0,0,PayPal Inc,0,PayPal Inc,1,2,1,...,5,PayPal Inc,TotalAdoptionPercent,100,5,2,PayPal Inc,8,PayPal Inc,8

In [ ]:
FinalMerge.head()

In [ ]:
df=pd.DataFrame(FinalMerge)
df.to_csv(r'C:/Users/Dell/Desktop/Datasets/Project/Merged/FinalMerge.csv')

### Dropping on final merge

In [19]:
Final= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/Merged/FinalMerge.csv")

In [20]:
Final.head()

,Unnamed: 0,AccountNumber,AccountName,CompleteCustomerChurn_x,UsageRiskIndicator_SUM,AccountName_y,CompleteCustomerChurn_y,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,...,KnowledgeEventAttendeeCount,AccountName_y.1,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator,AccountName_x.1,OverallSupportSurveySatisfactionIndicator_SUM_x,AccountName_y.2,OverallSupportSurveySatisfactionIndicator_SUM_y
0,0,ACCT0000005,"WagerWorks, Inc.",1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ACCT0000006,OUHSC IT,0,1.0,OUHSC IT,0.0,OUHSC/IT,4,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ACCT0000011,Allstate Corporation,0,0.0,Allstate Corporation,0.0,Allstate Corporation,3,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ACCT0000026,Clark County Nevada,0,0.0,Clark County Nevada,0.0,Clark County Nevada,4,2.0,...,7.0,Clark County Nevada,TotalAdoptionPercent,80,4.0,2.0,Clark County Nevada,8.0,Clark County Nevada,8.0
4,4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,0.0,"AAA Northern California, Nevada & Utah Insuran...",0.0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
Final = Final.drop(["CompleteCustomerChurn_y",],axis=1,inplace=True)

In [23]:
Final.head(10)

AttributeError: 'NoneType' object has no attribute 'head'

# Single single read

In [52]:
a = pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AllCustomerChurnIndicator.csv",encoding="ISO-8859-1")

In [57]:
a

,AccountNumber,AccountName,CompleteCustomerChurn
0,ACCT0000005,"WagerWorks, Inc.",1
1,ACCT0000006,OUHSC IT,0
2,ACCT0000011,Allstate Corporation,0
3,ACCT0000026,Clark County Nevada,0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0
...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0
3554,ACCT0079312,Westfield Labs Corp,0
3555,ACCT0079408,IBM IS&T,0
3556,ACCT0080144,Fujitsu - Frontoffice Center,0
3557,ACCT0080598,FX Innovation - Jean Coutu,0

In [53]:
b = pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AccountMetrics.csv",encoding="ISO-8859-1")

In [58]:
b

,AccountNumber,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM
0,ACCT0000005,"WagerWorks, Inc.",4,2,2,<Null>,0
1,ACCT0000006,OUHSC/IT,4,2,3,3,50
2,ACCT0000011,Allstate Corporation,3,2,1,1,22.22
3,ACCT0000026,Clark County Nevada,4,2,2,1,66.66
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",3,2,2,1,100
...,...,...,...,...,...,...,...
3552,ACCT0078498,Fujitsu - PersoPoint,1,2,2,1,100
3553,ACCT0079312,Westfield Labs Corp,1,2,1,<Null>,100
3554,ACCT0079408,IBM IS&T,1,2,1,1,100
3555,ACCT0080144,Fujitsu - Frontoffice Center,1,2,1,1,100
3556,ACCT0080598,FX Innovation - Jean Coutu,1,2,1,1,100

In [55]:
merged1= pd.merge(a,b,on='AccountNumber',how='left')

In [56]:
merged1

,AccountNumber,AccountName,CompleteCustomerChurn,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100
...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100

In [59]:
c= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/AccountMetrics.csv",encoding="ISO-8859-1")
c

,AccountNumber,AcctName,CustomerAgeCategoryIndicator,AcctPaymentStatusIndicator,RepChangesinLast12Months_SUM,NumberOfProductionInstances_SUM,OptyWonLast12Months_Percent_SUM
0,ACCT0000005,"WagerWorks, Inc.",4,2,2,<Null>,0
1,ACCT0000006,OUHSC/IT,4,2,3,3,50
2,ACCT0000011,Allstate Corporation,3,2,1,1,22.22
3,ACCT0000026,Clark County Nevada,4,2,2,1,66.66
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",3,2,2,1,100
...,...,...,...,...,...,...,...
3552,ACCT0078498,Fujitsu - PersoPoint,1,2,2,1,100
3553,ACCT0079312,Westfield Labs Corp,1,2,1,<Null>,100
3554,ACCT0079408,IBM IS&T,1,2,1,1,100
3555,ACCT0080144,Fujitsu - Frontoffice Center,1,2,1,1,100
3556,ACCT0080598,FX Innovation - Jean Coutu,1,2,1,1,100

In [61]:
merged2=pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left')
merged2

,AccountNumber,AccountName,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,CustomerAgeCategoryIndicator_y,AcctPaymentStatusIndicator_y,RepChangesinLast12Months_SUM_y,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,4,2.0,3.0,3,50
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,3,2.0,1.0,1,22.22
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,4,2.0,2.0,1,66.66
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,1,2.0,2.0,1,100
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,1,2.0,1.0,<Null>,100
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,1,2.0,1.0,1,100
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,1,2.0,1.0,1,100

In [63]:
d= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/EngagementSurveyMetrics.csv",encoding="ISO-8859-1")
d

,AccountNumber,AccountName,OverallEngagementSatisfactionIndicator_SUM
0,ACCT0000026,Clark County Nevada,1
1,ACCT0000045,"Harley-Davidson, Inc.",1
2,ACCT0000058,Latham & Watkins LP,2
3,ACCT0000083,Qualcomm Incorporated,1
4,ACCT0000114,Toyota Motor Sales USA Inc,2
...,...,...,...
769,ACCT0066666,Midwich Ltd,1
770,ACCT0068036,Lockheed Martin EBS,1
771,ACCT0068692,CMG Corporate Services Inc,2
772,ACCT0068946,Victorinox AG,2
773,ACCT0072614,Relationship Management Consultants NV RMC,2

In [65]:
merged3=pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left')
merged3

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,CustomerAgeCategoryIndicator_y,AcctPaymentStatusIndicator_y,RepChangesinLast12Months_SUM_y,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y,AccountName_y,OverallEngagementSatisfactionIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN

In [66]:
e= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/ITSAAvgPrice.csv",encoding="ISO-8859-1")
e

     AccountNumber  FulfillerPriceCategoryIndicator
0      ACCT0000006                              1.0
1      ACCT0000011                              1.0
2      ACCT0000026                              2.0
3      ACCT0000029                              1.0
4      ACCT0000034                              1.0
...            ...                              ...
3406   ACCT0078498                              1.0
3407   ACCT0079312                              3.0
3408   ACCT0079408                              2.0
3409   ACCT0080144                              1.0
3410   ACCT0080598                              2.0

[3411 rows x 2 columns]

In [68]:
merged4=pd.merge(pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left'),e,on='AccountNumber',how='left')
merged4

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,CustomerAgeCategoryIndicator_y,AcctPaymentStatusIndicator_y,RepChangesinLast12Months_SUM_y,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,FulfillerPriceCategoryIndicator
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN,1.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN,1.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0,2.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN,1.0
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN,3.0
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN,2.0
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN,1.0
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN,2.0

In [70]:
f= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/KnowledgeEventMetrics.csv",encoding="ISO-8859-1")
f

     AccountNumber  KnowledgeEventAttendeeCount
0      ACCT0015703                            1
1      ACCT0009147                            9
2      ACCT0003590                           11
3      ACCT0004990                            8
4      ACCT0003563                           19
...            ...                          ...
1146   ACCT0009389                            1
1147   ACCT0007202                            1
1148   ACCT0015850                            1
1149   ACCT0006200                            1
1150   ACCT0004461                            1

[1151 rows x 2 columns]

In [71]:
merged5=pd.merge(pd.merge(pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left'),e,on='AccountNumber',how='left'),f,on='AccountNumber',how='left')
merged5

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,CustomerAgeCategoryIndicator_y,AcctPaymentStatusIndicator_y,RepChangesinLast12Months_SUM_y,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN,6.0,6.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN,7.0,7.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0,7.0,7.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN,NaN,NaN

In [72]:
g= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/LicensedAdoptionMetrics.csv",encoding="ISO-8859-1")
g

,AccountNumber,AcctName,TotalAdoptionPercent,LicensedAdoptionPercent,AdoptionCategoryIndicator,LicensingCategoryIndicator
0,ACCT0002993,Albemarle Corp,3.703,10,1,1
1,ACCT0006716,Shire US Inc,3.703,7.692,1,2
2,ACCT0006915,EMI Publishing (UK),3.703,6.666,1,2
3,ACCT0008355,Lattice Semiconductor Corporation,3.703,11.111,1,1
4,ACCT0008834,Essendant Co.,3.703,7.692,1,2
...,...,...,...,...,...,...
3114,ACCT0040629,IBM - InterContinental Hotel Group,<Null>,<Null>,4,2
3115,ACCT0040631,Inergex - Veyance,<Null>,<Null>,4,3
3116,ACCT0059075,Costco Travel,<Null>,<Null>,4,2
3117,ACCT0065664,Delivery Hero Holding GmbH,<Null>,<Null>,4,4
3118,ACCT0067672,Credit Agricole Assurances,<Null>,<Null>,4,4

In [77]:
merged6=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left'),e,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),f,on='AccountNumber',how='left')
merged6

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,CustomerAgeCategoryIndicator_y,AcctPaymentStatusIndicator_y,RepChangesinLast12Months_SUM_y,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y,KnowledgeEventAttendeeCount
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,4,2.0,3.0,3,50,NaN,NaN,6.0,6.0,6.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,3,2.0,1.0,1,22.22,NaN,NaN,7.0,7.0,7.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,1.0,7.0,7.0,7.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,NaN,NaN,6.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,1,2.0,2.0,1,100,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,1,2.0,1.0,<Null>,100,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,1,2.0,1.0,1,100,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,NaN,NaN,NaN,NaN,NaN

In [78]:
h= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/NPSMetrics.csv",encoding="ISO-8859-1")
h

,AccountNumber,AccountName,ResponseRatePercent,NPSSatisfactionIndicator_SUM
0,ACCT0000011,Allstate Corporation,40,4
1,ACCT0000045,"Harley-Davidson, Inc.",25,4
2,ACCT0000051,International Financial Data Services (Canada)...,40,9
3,ACCT0000060,Life Time Fitness Inc,25,8
4,ACCT0000069,Nationwide Mutual Insurance Company,33.333,5
...,...,...,...,...
1173,ACCT0040687,Technae,50,4
1174,ACCT0040690,Burleigh Point Ltd,50,8
1175,ACCT0048683,Cognizant - NVIDIA,66.666,4
1176,ACCT0048820,Ikano SA,66.666,7
1177,ACCT0059075,Costco Travel,100,4

In [80]:
merged7=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left'),e,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),h,on='AccountNumber',how='left')
merged7

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,...,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y,KnowledgeEventAttendeeCount,AccountName,ResponseRatePercent,NPSSatisfactionIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",...,<Null>,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,...,3,50,NaN,NaN,6.0,6.0,6.0,NaN,NaN,NaN
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,...,1,22.22,NaN,NaN,7.0,7.0,7.0,Allstate Corporation,40,4.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,1,66.66,Clark County Nevada,1.0,7.0,7.0,7.0,NaN,NaN,NaN
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",...,1,100,NaN,NaN,6.0,6.0,6.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,...,<Null>,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
i= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/SupportSurveyMetrics.csv",encoding="ISO-8859-1")
i

,AccountNumber,AccountName,OverallSupportSurveySatisfactionIndicator_SUM
0,ACCT0000006,OUHSC/IT,6
1,ACCT0000011,Allstate Corporation,6
2,ACCT0000026,Clark County Nevada,8
3,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",10
4,ACCT0000034,Edmunds.com Inc,15
...,...,...,...
1916,ACCT0072192,SAIC - JCC,7
1917,ACCT0072614,Relationship Management Consultants NV RMC,6
1918,ACCT0073287,Dell USA LP,6
1919,ACCT0074455,Isetan Mitsukoshi System Solutions Ltd,6
1920,ACCT0074922,Econocom-Osiatis France - Allianz,6

In [82]:
merged8=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left'),e,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),h,on='AccountNumber',how='left'),i,on='AccountNumber',how='left')
merged8

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,...,AccountName_y,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y,KnowledgeEventAttendeeCount,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,...,NaN,NaN,6.0,6.0,6.0,NaN,NaN,NaN,OUHSC/IT,6.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,...,NaN,NaN,7.0,7.0,7.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,Clark County Nevada,1.0,7.0,7.0,7.0,NaN,NaN,NaN,Clark County Nevada,8.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",...,NaN,NaN,6.0,6.0,6.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
j= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/UsageIndicator.csv",encoding="ISO-8859-1")
j

     AccountNumber  UsageRiskIndicator_SUM
0      ACCT0000006                       1
1      ACCT0000011                       0
2      ACCT0000026                       0
3      ACCT0000029                       0
4      ACCT0000034                       0
...            ...                     ...
3199   ACCT0076590                       0
3200   ACCT0076744                       0
3201   ACCT0076973                       0
3202   ACCT0076981                       6
3203   ACCT0077830                       0

[3204 rows x 2 columns]

In [85]:
merged9=pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge( pd.merge(a,b,on='AccountNumber',how='left'),c,on='AccountNumber',how='left'),d,on='AccountNumber',how='left'),e,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),f,on='AccountNumber',how='left'),h,on='AccountNumber',how='left'),i,on='AccountNumber',how='left'),j,on='AccountNumber',how='left')
merged9

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,...,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y,KnowledgeEventAttendeeCount,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM,UsageRiskIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,...,NaN,6.0,6.0,6.0,NaN,NaN,NaN,OUHSC/IT,6.0,1.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,...,NaN,7.0,7.0,7.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0,0.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,1.0,7.0,7.0,7.0,NaN,NaN,NaN,Clark County Nevada,8.0,0.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",...,NaN,6.0,6.0,6.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,ACCT0078498,Fujitsu - PersoPoint,0,Fujitsu - PersoPoint,1,2.0,2.0,1,100,Fujitsu - PersoPoint,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,ACCT0079312,Westfield Labs Corp,0,Westfield Labs Corp,1,2.0,1.0,<Null>,100,Westfield Labs Corp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,ACCT0079408,IBM IS&T,0,IBM IS&T,1,2.0,1.0,1,100,IBM IS&T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,ACCT0080144,Fujitsu - Frontoffice Center,0,Fujitsu - Frontoffice Center,1,2.0,1.0,1,100,Fujitsu - Frontoffice Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,ACCT0080598,FX Innovation - Jean Coutu,0,FX Innovation - Jean Coutu,1,2.0,1.0,1,100,FX Innovation - Jean Coutu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
merged9.head()

,AccountNumber,AccountName_x,CompleteCustomerChurn,AcctName_x,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,AcctName_y,...,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y,KnowledgeEventAttendeeCount,AccountName_x,ResponseRatePercent,NPSSatisfactionIndicator_SUM,AccountName_y,OverallSupportSurveySatisfactionIndicator_SUM,UsageRiskIndicator_SUM
0,ACCT0000005,"WagerWorks, Inc.",1,"WagerWorks, Inc.",4,2.0,2.0,<Null>,0,"WagerWorks, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACCT0000006,OUHSC IT,0,OUHSC/IT,4,2.0,3.0,3,50,OUHSC/IT,...,NaN,6.0,6.0,6.0,NaN,NaN,NaN,OUHSC/IT,6.0,1.0
2,ACCT0000011,Allstate Corporation,0,Allstate Corporation,3,2.0,1.0,1,22.22,Allstate Corporation,...,NaN,7.0,7.0,7.0,Allstate Corporation,40,4.0,Allstate Corporation,6.0,0.0
3,ACCT0000026,Clark County Nevada,0,Clark County Nevada,4,2.0,2.0,1,66.66,Clark County Nevada,...,1.0,7.0,7.0,7.0,NaN,NaN,NaN,Clark County Nevada,8.0,0.0
4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,"AAA Northern California, Nevada & Utah Insuran...",3,2.0,2.0,1,100,"AAA Northern California, Nevada & Utah Insuran...",...,NaN,6.0,6.0,6.0,NaN,NaN,NaN,"AAA Northern California, Nevada & Utah Insuran...",10.0,0.0

In [89]:
df=pd.DataFrame(merged9)
df.to_csv(r'C:/Users/Dell/Desktop/Datasets/Project/Merged/FinalMergeMetro.csv')

In [92]:
dataset= pd.read_csv("C:/Users/Dell/Desktop/Datasets/Project/Merged/FinalMergeMetro.csv",encoding="ISO-8859-1")

In [93]:
dataset

,Unnamed: 0,AccountNumber,AccountName_x,CompleteCustomerChurn,CustomerAgeCategoryIndicator_x,AcctPaymentStatusIndicator_x,RepChangesinLast12Months_SUM_x,NumberOfProductionInstances_SUM_x,OptyWonLast12Months_Percent_SUM_x,CustomerAgeCategoryIndicator_y,...,NumberOfProductionInstances_SUM_y,OptyWonLast12Months_Percent_SUM_y,OverallEngagementSatisfactionIndicator_SUM,KnowledgeEventAttendeeCount_x,KnowledgeEventAttendeeCount_y,KnowledgeEventAttendeeCount,ResponseRatePercent,NPSSatisfactionIndicator_SUM,OverallSupportSurveySatisfactionIndicator_SUM,UsageRiskIndicator_SUM
0,0,ACCT0000005,"WagerWorks, Inc.",1,4,2.0,2.0,<Null>,0,4,...,<Null>,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ACCT0000006,OUHSC IT,0,4,2.0,3.0,3,50,4,...,3,50,NaN,6.0,6.0,6.0,NaN,NaN,6.0,1.0
2,2,ACCT0000011,Allstate Corporation,0,3,2.0,1.0,1,22.22,3,...,1,22.22,NaN,7.0,7.0,7.0,40,4.0,6.0,0.0
3,3,ACCT0000026,Clark County Nevada,0,4,2.0,2.0,1,66.66,4,...,1,66.66,1.0,7.0,7.0,7.0,NaN,NaN,8.0,0.0
4,4,ACCT0000029,"AAA Northern California, Nevada & Utah Insuran...",0,3,2.0,2.0,1,100,3,...,1,100,NaN,6.0,6.0,6.0,NaN,NaN,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,3553,ACCT0078498,Fujitsu - PersoPoint,0,1,2.0,2.0,1,100,1,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,3554,ACCT0079312,Westfield Labs Corp,0,1,2.0,1.0,<Null>,100,1,...,<Null>,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,3555,ACCT0079408,IBM IS&T,0,1,2.0,1.0,1,100,1,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,3556,ACCT0080144,Fujitsu - Frontoffice Center,0,1,2.0,1.0,1,100,1,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,3557,ACCT0080598,FX Innovation - Jean Coutu,0,1,2.0,1.0,1,100,1,...,1,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv(r'C:/Users/Dell/Desktop/Datasets/Project/Merged/FinalMergeMetro.csv')